@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --color-neutral--000: #ffffff;
    --color-neutral--100: #f5f6ff;
    --color-neutral--800: #1d1e20;
    --color-neutral--900: #000000;

    --color-blue-200: #e6ebff;

    --color-purple--100: #e3dcfc;
    --color-purple--500: #683ee6;
    --color-purple--700: #301c6b;
    --color-purple--800: #2f1c6a;
    --color-purple--900: #1e1345;
}
body {
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.font-size--000{
    font-size: 14px;
}
.font-size--200{
    font-size: 18px;
}
.font-size--300{
    font-size: 20px;
}
.font-size--600{
    font-size: 36px;
}
.font-size--800{
    font-size: 48px;
}
.font-weight--bolder{
    font-weight: 700;
}
.flex-align--center{
    display: flex;
    align-items: center;
}
.gap--32{
    gap: 32px;
}





/* Header styles */
header{
    background-color: var(--color-neutral--000);
    height: 88px;
    width: 100vw;
    color: var(--color-neutral--800);
    box-shadow: 0 4px 10px #0000001a;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo-container__header{
    width: 187px;
    height: 100%;
    padding: 29px 0 29px 40px;
}
.nav-login-container__header{
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-neutral--800);

}
.h-svgo-icon{
    height: 24px;
    color: var(--color-neutral--800);
}
.login-container__header{
    justify-content: end;
}
.login-container__header img{
    height: 20px;
    margin-right: 4px;
}
.login-button__header{
    border: 2px solid var(--color-neutral--800);
    padding: 12px 16px;
    background-color: transparent;
    border-radius: 8px;
}
.list-menu__header{
    position: absolute;
    display: none;   
}
@media (max-width: 1140px){
    header{
        height: 62px;
        align-items: start;
    }
    .logo-container__header{
        width: 167px;
        padding: 16px 0 16px 20px;
    }
    .nav-login-container__header{
        justify-content: end;
        height: 100%;
        padding: 0;
    }
    .list-menu__header{
        height: 100%;
        padding-top: 16px;
        padding-right: 16px;
    }
    nav a{
        display: none;
    }
    .flag-container__header{
        display: none;
    }
    .login-button__header{
        display: none;
    }
    .list-menu__header{
        display: flex;
    }
}
   




/* Hero styles */
.section-container__hero{
    padding: 36px 40px 96px 40px;
    color: var(--color-purple--800);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.content-container__hero{
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    max-width: 1392px;
}
.title__hero{
    line-height: 40px;
}
.paragraph__hero{
    margin-top: 8px;
}
.check-icon__header{
    height: 24px;
    color: #00b090;
}
.icon--small{
    height: 16px;
}
.side-container__hero{
    width: 442px;
    min-width: 384px;
}
.span-check-list-container__hero{
    margin: 24px 0;
}
.span-check-list__hero{
    gap: 10px
}
.paragraph-percentage__hero{
    color: var(--color-purple--500);
}
.price-container__hero{
    height: 56px;
    margin-bottom: 2px;
}
.months-free-container__hero{
    margin: 4px 0 24px;
    height: 36px;
}

.buttons-container__hero{
    gap: 12px;
    margin-bottom: 12px;
}
.button-claim-deal__hero{
    background-color: var(--color-purple--500);
    text-decoration: none;
    color: var(--color-neutral--000);
    border-radius: 8px;
    height: 48px;
    width: 181px;
    justify-content: center;
}
.timer-container__hero{
    background-color: var(--color-purple--100);
    width: 160px;
    height: 48px;
    justify-content: center;
    border-radius: 8px;
    height: 48px;
}
.guarantee__hero{
    gap: 4px;
}
.image-container__hero img{
    width: 880px;
}
@media (max-width: 1550px){
    .content-container__hero{
        justify-content: center;
    }
}
@media (max-width: 1365px){
    .image-container__hero img{
        width: 616px;
    }
    .content-container__hero{
        justify-content: space-between;
        max-width: 1128px;
        min-width: 0;
    }
}
@media(max-width: 1025px){
    .section-container__hero{
        padding: 62px 40px 80px 40px;
    }
    .title__hero{
        font-size: 28px;
    }
    .paragraph__hero{
        font-size: 18px;
    }
    .paragraph-percentage__hero{
        font-size: 18px;
    }
    .span-check-list-container__hero{
        margin: 16px 0;
    }
    .price-currency__hero{
        font-size: 20px;
    }
    .price-months__hero{
        font-size: 20px;
    }
    .price-number__hero{
        font-size: 40px;
    }
    .months-free-container__hero{
        height: auto;
    }
    .months-free__hero{
        font-size: 18px;
    }
    .content-container__hero{
        flex-direction: column;
        align-items: center;
        width: 688px;
    }
    .side-container__hero{
        width: 100%;
    }
    .image-container__hero img{
        width: 100%;
    }
    .months-free-container__hero{
        margin-bottom: 16px;
    }
    .guarantee__hero{
        margin-bottom: 32px;
    }
}
@media(max-width: 768px){

    .section-container__hero{
        padding: 14px 16px 36px 16px;
    }
    .title__hero{
        font-size: 24px;
        line-height: 32px;
    }
    .price-container__hero{
        height: 42px;
    }
    .price-number__hero{
        font-size: 36px;
    }
    .buttons-container__hero{
        flex-direction: column-reverse;
    }
    .button-claim-deal__hero{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .timer-container__hero{
        width: 100%;
    }
    .content-container__hero{
        max-width: 508px;
    }
    .side-container__hero{
        width: 100%;
        min-width: 0;
    }
}





/* Migration styles */
.section-container__migration{
    flex-direction: column;
    padding: 80px 40px;
    color: var(--color-neutral--000);
    background-color: var(--color-purple--900);
    text-align: center;
}
.paragraph__migration{
    max-width: 1128px;
    margin: 24px 0 48px;
    line-height: 24px;
}
.cards-container__migration{
    text-align: start;
    gap: 24px;
    display: flex;
    align-items: stretch;
}
.card__migration{
    background-color: var(--color-purple--800);
    display: flex;
    flex-direction: column;
    max-width: 360px;
    height: 256px;
    flex: 1;
    padding: 32px;
    gap: 16px;
    border-radius: 16px;
}
.icon-container__migration{
    height: 40px;
    width: 40px;
    color: var(--color-neutral--000);
    background-color: var(--color-purple--500);
    justify-content: center;
    border-radius: 4px;
}
.icon__migration{
    height: 24px;
}
.get-started-button__migration{

    padding: 12px 48px;
    margin-top: 32px;
    background-color: var(--color-purple--500);
    border-radius: 8px;
    text-decoration: none;
    color: var(--color-neutral--000);
    height: 48px;
}
@media(max-width: 1025px){
    .section-container__migration{
        padding: 62px 40px;
    }
    .paragraph__migration{
        width: 688px;
    }
    .cards-container__migration{
        flex-direction: column;
    }
    .card__migration{
        max-width: 688px;
    }
    .title__migration{
        font-size: 28px;
    }
}
@media(max-width: 768px){
    .section-container__migration{
        padding: 56px 16px;
    }
    .paragraph__migration{
        width: 508px;
        max-width: 100%;
    }
    .card__migration{
        max-width: 508px;
    }
    .title__migration{
        font-size: 24px;
    }
}





/* Footer styles */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 56px 40px 0 40px;
    background-color: var(--color-neutral--100);
}
.content-container__footer{
    width: 1128px;
    min-width: 0;
}
.logo-socials-container__footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.logo-socials-container__footer a{
    text-decoration: none;
}
.logo__footer{
    height: 30px;
    fill: var(--color-purple--700);
}
.socials-container__footer{
    display: flex;
    gap: 16px;
}
.socials__footer{
    height: 32px;
    color: var(--color-purple--700);
}
.payment-policys-container__footer a{
    text-decoration: none;
    color: var(--color-purple--700);
}
.payment-policys-container__footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.payment-methods-container__footer{
    gap: 8px;
}
.payment-methods-container__footer a{
    gap: 8px; 
    color: var(--color-purple--500);
}
.payment-methods-container__footer img{
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-blue-200);
}
.policys-container__footer{
    gap: 16px;
}
.copyright-container__footer{
    padding: 24px 0;
    justify-content: space-between;
    border-top: 1px solid var(--color-blue-200);
    color: var(--color-purple--700);
    gap: 128px;
}
@media(max-width: 1025px){
    footer{
        padding-top: 48px;
    }
    .content-container__footer{
        width: 688px;
    }
    .payment-policys-container__footer{
        flex-direction: column-reverse ;
        gap: 16px;
        margin-bottom: 40px;
    }
    .copyright-container__footer{
        flex-direction: column;
        align-items: start;
        gap: 24px;
    }
}
@media(max-width: 768px){
    footer{
        padding: 88px 16px 0 16px;
    }
    .content-container__footer{
        width: 508px;
    }
    .logo-socials-container__footer{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .socials-container__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .payment-policys-container__footer{
        gap: 24px;
    }
    .payment-methods-container__footer{
        flex-wrap: wrap;
        max-width: 300px;
    }
    .policys-container__footer{
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 328px;
        min-width: 0;
    }
}
@media(max-width: 600px){
    footer{
        padding: 56px 16px 0 16px;
    }
}
 




/* Kodee styles */
.kodee-button{
    display: flex;
    align-items: center;
    padding: 8px 1px 8px 8px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: var(--color-purple--500);
    border: none;
    gap: 8px;
    border-radius: 20px;
    color: var(--color-neutral--000);
    height: 40px;
    width: 120px;
}
.kodee-icon{
    height: 16px;
}
@media(max-width: 768px){
    .kodee-button{
        right: 4px;
    }
}